.body
  %header.header__background
    .header__title
      ポケモン対戦シミュレーター

  .middle__background
    .middle__contents
      = render partial: "search", locals: {pokemon: @pokemon_left, side: "left", status: @status_left, abilities: @abilities_left}

      .center
        = render partial: "center"

      = render partial: "search", locals: {pokemon: @pokemon_right, side: "right", status: @status_right, abilities: @abilities_right}

  .result
    = render partial: "result", locals: {status_left: @status_left, status_right: @status_right}


  %footer.footer
