$bg-title: #39f;
$bg-middle: #cff;
$bg-middle2: #9ff;
$bg-left: #36f;
$bg-right: #f36;
$bg-center: lightgreen;


@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

body,html {
  color: #333333;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

