.move {
  margin: 10px;
  &__btn {
    width: 40px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    border: solid 1px black;
    border-radius: 5px;
    background-color: ghostwhite;
    cursor: default;
    margin-top: 5px;
  }
  &__power {
    display: inline-block;
    line-height: 25px;
    height: 25px;
    margin-left: 5px;
    &--label {
      display: inline-block;
    }
    &--value {
      width: 28px;
      text-align: right;
      display: inline-block;
    }
  }
  &__modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    &--background {
      width: 100%;
      height: 100%;
      background-color: gray;
      opacity: 0.5;
      z-index: 5;
    }
    &--menu {
      width: 600px;
      height: 400px;
      background-color: white;
      border: solid 3px $bg-right;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 6;
    }
  }
  &__text_form {
    font-size: 14px;
    width: 135px;
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
    padding-left: 8px;
    display: inline-block;
    user-select: none;
    border: solid 1px gray;
    border-radius: 5px;
  }
}
