.pokemon {
  margin: 30px 3px 3px 3px;
  border-radius: 5px;
  background-color: white;
  height: 427px;
  &__header {
    width: 100%;
    height: 40px;
    margin: 0 5px;
    @include clearfix;
  }
  &__search_box {
    float: left;
    display: block;
    position: relative;
  }
  &__search {
    font-size: 12px;
    height: 20px;
    width: 200px;
    margin: 5px 0 0 5px;
    padding-left: 3px;
  }
  &__search_result {
    position: absolute;
    top: 25px;
    left: 5px;
    z-index: 3;
    user-select: none;
    cursor: pointer;
  }
  &__result {
    color: black;
    background-color: white;
    border: 1px solid lightblue;
    width: 170px;
    display: block;
    padding-left: 3px;
    text-decoration: none;
    &_left {@extend .pokemon__result};
    &_right {@extend .pokemon__result};
  }
  &__name {
    float: left;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    height: 30px;
    width: 170px;
    margin-top: 5px;
    padding-left: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__type_box {
    float: right;
    width: 42px;
    height: 30px;
    margin: 5px;
    @include clearfix;
  }
  &__type {
    width: 42px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    &--move {
      display: inline-block;
    }
    &--1 {
      @extend .pokemon__type;
      letter-spacing: 0em;
      color: black;
      background-color: #a8a090;
    }
    &--2 {
      @extend .pokemon__type;
      color: black;
      background-color: #f05030;
    }
    &--3 {
      @extend .pokemon__type;
      color: black;
      background-color: #3898f8;
    }
    &--4 {
      @extend .pokemon__type;
      color: black;
      background-color: #f8c030;
    }
    &--5 {
      @extend .pokemon__type;
      color: black;
      background-color: #78c850;
    }
    &--6 {
      @extend .pokemon__type;
      color: black;
      background-color: #58c8e0;
    }
    &--7 {
      @extend .pokemon__type;
      color: white;
      background-color: #a05038;
    }
    &--8 {
      @extend .pokemon__type;
      color: white;
      background-color: #b058a0;
    }
    &--9 {
      @extend .pokemon__type;
      color: black;
      background-color: #d0b058;
    }
    &--10 {
      @extend .pokemon__type;
      color: black;
      background-color: #98a8f0;
    }
    &--11 {
      @extend .pokemon__type;
      color: black;
      background-color: #f870a0;
    }
    &--12 {
      @extend .pokemon__type;
      color: black;
      background-color: #a8b820;
    }
    &--13 {
      @extend .pokemon__type;
      color: black;
      background-color: #b8a058;
    }
    &--14 {
      @extend .pokemon__type;
      color: white;
      background-color: #6060b0;
    }
    &--15 {
      @extend .pokemon__type;
      color: white;
      background-color: #7860e0;
    }
    &--16 {
      @extend .pokemon__type;
      color: white;
      background-color: #705848;
    }
    &--17 {
      @extend .pokemon__type;
      color: black;
      background-color: #a8a8c0;
    }
    &--18 {
      @extend .pokemon__type;
      color: black;
      letter-spacing: -0.2em;
      background-color: #f8b0d0;
    }
  }
  &__level_box {
    float: right;
    margin: 5px 10px 5px 5px;
  }
  &__level {
    width: 40px;
    height: 30px;
    text-align: right;
    padding-right: 5px;
  }
  &__middle {
    @include clearfix;
    &--left {
      float: left;
    }
    &--right {
      float: right;
      margin-right: 5px;
    }
  }
  &__form {
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    margin: 0 5px 5px;
  }
  &__select {
    font-size: 14px;
    width: 87px;
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
    padding-left: 8px;
    -moz-appearance: none;
    -webkit-appearance: none;
    &--long {
      @extend .pokemon__select;
      width: 135px;
    }
    &--short {
      @extend .pokemon__select;
      width: 45px;
    }
    &--middle {
      @extend .pokemon__select;
      width: 100%;
    }
  }
  &__image {
    height: 30px;
    width: 30px;
    background-color: orange;
    float: left;
    margin: 5px;
  }
  &__hidden {
    display: none;
  }
  &__moves {
    margin: 10px;
  }
  &__move {
    height: 35px;
  }
  &__text_form {
    font-size: 14px;
    width: 135px;
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
    padding-left: 8px;
    display: inline-block;
  }
}
