.table {
  font-size: 18px;
  text-align: center;
  margin: 0 10px;
  float: left;
  border-collapse: collapse;
  th, td {
    border: solid 1px $bg-left;
    padding: 2px;
  }
  th {
    color: white;
    font-size: 12px;
    background-color: $bg-left;
    text-align: center;
  }
  &__label {
    font-size: 0.8em;
    font-weight: bold;
  }
  &__text_field {
    width: 42px;
    height: 20px;
    border-style: none;
    text-align: center;
    outline: none;
  }
}
